<div class="w-5/6 mx-auto">
    <div class="text-center text-white m-10">
        <h1 class="text-6xl"><%= @exercise[:name]%></h1>
    </div>

    <div class="grid grid-cols-5 gap-4">
        <div class=""></div>
        <div></div>
    </div>
</div>